#chessboard {
  display: grid;
  grid-template-columns: repeat(8, 100px);
  grid-template-rows: repeat(8, 100px);
  width: 800px;
  height: 800px;
  background-color: #FFFFFF;
  border: solid 5px #26416D;
  
}
